@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "tailwindcss"; 

.flex-row-center {
    @apply flex flex-row items-center
}

.carousel-rows-section-lyt {
    @apply grid grid-rows-[40px_1fr]
}

.carousel-cards-section-lyt {
    @apply grid grid-cols-5
}

.carousel-cards-lyt {
    @apply grid grid-rows-[auto_30px]
}
 
.thumbnails-size {
    @apply w-full h-full  max-w-[260px] max-h-[250px]
}
 
.producto {
    @apply bg-yellow-300 h-fit rounded-b-md ml-2 mr-2
}

.dcto {
    @apply text-[12px] p-1 pl-2
}

.hover-bg {
    @apply hover:bg-gray-100 hover:rounded-lg 
}

.hover-scale-sm {
    @apply hover:scale-103 transition-transform duration-200 ease-in-out
}

.hover-scale-md {
    @apply hover:scale-120 transition-transform duration-200 ease-out
}

.hover-bg-thmb {
    @apply hover:border-4 hover:border-segundary
}

.hover-eye-card {
    @apply opacity-0 group-hover:opacity-100 group-hover:-translate-y-8 transition-transform transition-opacity duration-150 absolute bg-amber-500 rounded-4xl w-8 h-8 top-0 right-0 m-1
}



@theme {
    --breakpoint-tlf: 30.75rem;
    --breakpoint-medium: 54rem; 
    --breakpoint-long: 61rem;
    --breakpoint-xl: 67rem;  /* 1080px */
    --breakpoint-x2l: 77.93rem;  /*1247px*/
    --breakpoint-x3l: 87.5rem; /* 1400px*/
    --breakpoint-x4l: 91.125rem; /* 1492px*/
    --color-primary: #01962D;
    --color-segundary: #0ebc42;
    --color-tercerary: #F3E2C7;
    --color-atention: bg-red-300;
}